<%= form_with model: @task do |f| %>
<%=f.label :title %>
<%=f.text_field :title, class: 'form-control' %>
<%=f.label :details %>
<%=f.text_field :details, class: 'form-control' %>
<%=f.label :completed %>
<%=f.check_box :completed %>
<p><%= f.submit class: 'btn btn-primary mt-2' %></p>
<% end %>
